FLASK_APP = application.py
FLASK_ENV = development
CONFIG_TYPE = config.DevelopmentConfig
MAIL_USERNAME = `YOUR EMAIL`
MAIL_PASSWORD = `YOUR PASSWORD`
CELERY_BROKER_URL = redis://localhost:6379
RESULT_BACKEND = redis://localhost:6379